h1 {
    font-size: 100px;
    color: #9381FF;
    text-shadow: 1px 2px 2px black;
    font-weight: bold;
	text-align: center;
}

h5 {
    font-family:'static/fonts/PatuaOne-Regular';
    font-size: 30px;
    font-weight: bold;
    font-stretch: extra-expanded;
    font-variant: small-caps;
}

h4 {
    color: #000000;
    text-shadow: 1px 2px 2px rgb(255, 255, 255); 
}

h6 {
    color: #000000;
    text-shadow: 1px 2px 2px rgb(255, 255, 255); 
    text-align: center;
}

body {
	background-image: url(static/img/product/Background1.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(217, 233, 232)
}


h3 {
    font-family:'static/fonts/PatuaOne-Regular';
    line-height: 1.4;
    font-weight: bold;
    font-stretch: extra-expanded;
    font-variant: small-caps;
    font-size: 100px;
    color: #9381FF;
    text-shadow: 1px 2px 2px rgb(255, 255, 255);
}