h1 {
    font-size: 100px;
    color: #ee0eea;
    text-shadow: 1px 2px 2px black;
    font-weight: bold;
	text-align: center;
}

h3 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 2px 2px black;
    font-weight: bold;
	text-align: center;
}

h4 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 2px 2px black;
    font-weight: bold;
	text-align: center;
}

body { background-color: rgb(217, 233, 232);
}