body {
	background-image: url(static/img/product/Background2.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(217, 233, 232)
}

h1 {
    font-size: 100px;
    color: #9381FF;
    font-weight: bold;
	text-align: center;
    text-shadow: 1px 2px 2px black;
}

h2 {
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgb(252, 251, 251);

}