h1 {
    font-size: 100px;
    color: #9381FF;
    text-shadow: 1px 2px 2px black;
    font-weight: bold;
	text-align: center;
}


body { background-color: rgb(217, 233, 232);
}

div.galeria {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
width: 350px;
}

div.galeria img {
    width: 350px;
    height: auto;
}

div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-5deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px #9381FF;
    padding: 20px;
}